[2014-11-06 23:59] Phrancis opened #1 "Get all the Bootstrap files on master and develop"
Self explaining

[2014-11-07 00:41] #1 closed, assigned to Phrancis

[2014-11-08 07:40] Phrancis opened #2 "Make layout structure look better"
- Make headers and sub-headers in left menu, and include the `<a href="foo">` links.
- Make separate pages for each menu link, copy boilerplate code for menus.
- Adjust CSS to make page content fit well between the menus.

[2014-11-25 18:58] #2 closed, assigned to Phrancis

[2014-11-25 19:00] Phrancis opened #3 "Create Home page (index.html)"
The landing page needs to have interesting content with a high-level overview of the project, and links to some other sections of the site. It needs to be concise and attractive.

[2014-11-25 19:02] Phrancis opened #4 "Get finished Cardshifter logo from Jay and add it into the site."
Self-explaining

[2014-11-25 22:22] #3 closed, assigned to nobody

[2014-11-25 22:25] Phrancis opened #5 "Create Project page (project.html)"
This page will contain details about the different tools and technologies used to put the game together. Will need assistance from @SimonAndréForsberg and @bazola principally. It will also contain links to external pages about the various technologies.

[2014-11-25 22:27] Phrancis opened #6 "Create Contributors page (contributors.html)"
This page will contain various (voluntary) information about the project contributors, including links to profile on Github, StackExchange, Twitters or whatever else is desired, as well as a summary of the type of work each participant contributes to the project.

[2014-11-25 22:29] Phrancis opened #7 "Create Mods page (mods.html)"
This page will contain information about modding in general, and about the only current mod, Cyborg Chronicles. General instructions (as they are made available throughout development) will be added. Eventually, this page should become its own sub-site with a detailed guide about modding.

[2014-11-25 22:31] Phrancis opened #8 "Create Contribute page"
This page should give potential contributors some information about the various ways they can become involved in Cardshifter, including:
- Playing the game
- Contributing to the repo(s)
- Joining the chat room
- Reporting bugs & requesting features
- Modding (linking back to the mods.html page)

[2014-11-26 21:32] #8 closed, assigned to nobody

[2014-11-26 22:07] Phrancis opened #9 "Create Images page (images.html) and folder for images"
This page will contain images, at the current time only screenshots of the game client. Will also need to create folders `/images/screenshots/`

[2014-11-28 22:43] Phrancis opened #10 "Create Play Cardshifter page (play-cardshifter.html)"
This page will have simple instructions on how to download the game, as well as information about the latest release, and a link to the game rules on the Wiki in the main repo.

[2014-11-28 22:43] Phrancis opened #11 "Update game rules on main Wiki"
The game rules reflect an older version of the game, before some of the core ideas were cemented in.

[2014-11-28 22:45] Phrancis opened #12 "Create News page (news.html)"
This page will have micro-blog style news and will be updated periodically as new developments happen. The Twitter @Cardshifter will generally point back to this page, so it is important that it is well structured.

[2014-11-28 22:48] Phrancis opened #13 "Create New Mod page (new-mod.html)"
For now this page will contain general information about what is needed in order to start a mod. It will be limited for now, as it has not been completely defined at this point, and should contain a link to the chat room in order to discuss with potential new modders.

[2014-11-28 23:22] Phrancis opened #14 "Research a way to DRY up navigation and footer HTML code"
Right now there is duplicate boilerplate header/navigation and footer code in every HTML file. It is not a huge burden now to make changes as there are only a few HTML files, but as the site expands it would become a maintainability nightmare.
I checked Webmasters.SE and found this question related: http://webmasters.stackexchange.com/questions/68535/common-header-footer-for-html-site

Need to dis

[2014-12-03 14:41] marcandregirard opened #15 "Add a ReadMe"
We should add a quick ReadMe to get rid of the GitHub warnings and would be nice to explain what we are doing with the project (mostly point to others project and stuffs)!

[2014-12-04 19:12] Phrancis opened #16 "Add new meta-tags to HTML headers"
To improve SEO and such. For reference, this article has a lot of information.

http://www.iacquire.com/blog/18-meta-tags-every-webpage-should-have-in-2013

[2014-12-04 20:29] Phrancis opened #17 "Modify footer copyright behavior"
Make it to where it displays *Copyright (c) 2014-(current year), Cardshifter.*

[2014-12-11 22:48] #6 closed, assigned to marcandregirard

[2014-12-22 19:42] #15 closed, assigned to Phrancis

[2014-12-22 19:46] #11 closed, assigned to nobody

[2014-12-23 20:16] Phrancis opened #18 "How to display card information on the website"
I had a couple different ideas on displaying card information which will eventually be in the Cyborg Chronicles mod sub-site. Would like feedback from others on what would be ideal. Each card has some things in common, e.g. image, name, description, type and values. Here are my thoughts:
1. Display as a table. This would be the simplest, but not particularly aesthetically pleasing. It would be pos

[2015-01-12 20:51] Phrancis opened #19 "Start testing Google Code Prettify"
Here is a guide to get started: http://code.google.com/p/google-code-prettify/wiki/GettingStarted

Here are the steps:
1. Create a test HTML page to test it with the default loadout.
2. Download the Prettify package and install & test locally
3. Create and test a new custom style

[2015-01-12 21:56] Phrancis commented on #19
Step 1 completed. By adding `<script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script>` into the header, and using `<pre class="prettyprint">CODE HERE</pre>` the default style can be used. `class="prettyprint linenums"` will also enable line numbers.
![prettify1](https://cloud.githubusercontent.com/assets/8539648/5711884/e2fc99a8-9a7b-11e4-88db-c4f76c8337ef.PNG

[2015-01-12 22:40] Phrancis commented on #19
Note it's possible to change between the default skins by changing the way it's written in the `<script>` using CGI arguments, like so:

`<script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js?autoload=true&amp;skin=desert"></script>`

This changes the skin to "desert.css". Other default skins can be seen at this link: http://google-code-prettify.googlecode.com/svn/tru

[2015-01-13 04:27] Phrancis commented on #19
Running into a few problems, namely getting the Prettify things to run locally. Posted to SO: http://stackoverflow.com/questions/27914206/prettify-not-linking-correctly-locally

[2015-01-15 01:51] Phrancis commented on #19
Got Prettify to work and pushed it today. Now to test making a customized style.

[2015-01-20 15:33] marcandregirard commented on #17
I will do it in my branch so you don't need to do it in master or develop.

[2015-01-20 15:36] Phrancis commented on #17
Awesome thanks!

[2015-01-21 01:11] Phrancis commented on #19
Customized tests didn't work with current setup. I forked a working repo with pre-made styles and it seems to work good now. Just need to test customized CSS and this will be done.

[2015-01-21 04:16] Phrancis commented on #19
Got all CSS/HTML/JS files to work in local directories and should be honky-dory from here!

[2015-01-21 04:16] #19 closed

[2015-01-26 18:02] Phrancis opened #20 "Resolve conflicts and divergence between 'develop' and 'master' branches"
Due to human error the two branches have become divergent. Will work with @Zomis in order to restore it to a stable condition.

[2015-01-26 20:41] Phrancis commented on #16
Updating this issue, I've written a question about this on CR. Waiting for @marcandregirard to have implemented the Java web app before adding these. For reference: http://codereview.stackexchange.com/questions/74634/cardshifter-website-meta-tags-for-seo

[2015-01-26 20:44] Phrancis commented on #9
Took 4 screenshots which should be sufficient for the time being. This can be added after Issue #20 is sorted out.

![0 4-deck-builder](https://cloud.githubusercontent.com/assets/8539648/5908037/0869f0a4-a572-11e4-92c9-29aca9bad3ee.PNG)
![0 4-game](https://cloud.githubusercontent.com/assets/8539648/5908038/086ae356-a572-11e4-87aa-acbae8856684.PNG)
![0 4-lobby](https://cloud.githubusercontent.com/a

[2015-01-26 20:53] Phrancis commented on #4
There is not really much room (or need) for a logo for the website right now. Closing for now. The logo should probably mostly be integrated into the game once the GUI is refactored, and could be added to Github repos ([see related in primary repo](https://github.com/Cardshifter/Cardshifter/issues/145))

[2015-01-26 20:53] #4 closed

[2015-01-27 01:06] Phrancis commented on #20
Commit [dfae77ad](https://github.com/Cardshifter/cardshifter.github.io/commit/dfae77adf30a72c2f3bd8dc0c1e531f24c981876) fixed develop and changes were pushed to master, everything appears to be synced now.

[2015-01-27 01:06] #20 closed

[2015-01-27 22:37] Phrancis opened #21 "Should we make a Github Wiki for this repo?"
The repo itself is sort of a Wiki about the Cardshifter game, do you think we need a meta-Wiki about the website? @Zomis @marcandregirard @bazola and others, input appreciated!

[2015-01-28 19:30] marcandregirard commented on #21
The things is what would the wiki contain ? What would be useful that an issue or drop in the chat would not solve ? Information is good, but having too much will just create noise and more work. With those arguments I would say no to create a wiki for this repo.

[2015-01-28 19:33] Phrancis commented on #21
OK sounds like this is a non-issue then. I'll just add a note to Wiki referring back to README.md in case someone outside the core group stumbles upon it.

[2015-01-28 19:33] #21 closed

[2015-01-29 00:00] #17 closed

[2015-01-29 00:33] marcandregirard commented on #14
I've finnally merge the branch with master so now this can be closed !

[2015-01-29 00:33] #14 closed

[2015-01-30 16:55] Phrancis opened #22 "Integrate web app template for HTML header"
The page header would benefit from being isolated along with the menus and such for ease of maintainability.

[2015-01-30 17:47] Phrancis opened #23 "Create all page mappings in StaticController.java"
This file needs updated to include all pages to be linked in the navigation menus.

https://raw.githubusercontent.com/Cardshifter/cardshifter.github.io/master/io.web/src/main/java/com/cardshifter/io/web/controller/StaticController.java

Attached image shows which links need to be added to the controller.

![missing-links](https://cloud.githubusercontent.com/assets/8539648/5980408/166647fc-a87e-11e

[2015-01-30 18:11] Phrancis commented on #23
Resolved on commit 7956f270

[2015-01-30 18:11] #23 closed

[2015-01-30 18:20] Phrancis opened #24 "Add linked HTML files to webapp/WEB-INF/"
New HTML files need created in this directory using page-template.html as a model, to be later edited with actual content.
https://github.com/Cardshifter/cardshifter.github.io/tree/web-content/io.web/src/main/webapp/WEB-INF

This image illustrates while files are missing:

![missing-html](https://cloud.githubusercontent.com/assets/8539648/5980862/9a31970e-a882-11e4-8df4-80af19c94947.PNG)

[2015-01-30 18:32] Phrancis commented on #24
All files have been added

[2015-01-30 20:39] Phrancis commented on #9
Need to upload these to the `content` branch in the `images/screenshots/` folder, then add the images to the `webapp/WEB-INF/images.html` directory.

[2015-01-30 20:53] Phrancis commented on #24
I just noticed the template I used for creating all those pages earlier didn't have Marc's stuff put in... Need to update all the HTML files.

[2015-01-30 21:03] Phrancis commented on #24
All fixed

[2015-01-30 21:03] #24 closed

[2015-01-30 21:46] Phrancis commented on #9
Page content and image links have been added to `images.html`. Now only need to add the image files to the relevant folders, and test and format images for ideal sizing.

[2015-01-30 21:55] Phrancis commented on #16
Related: [Issue # 22](https://github.com/Cardshifter/cardshifter.github.io/issues/22)

[2015-01-30 22:51] Phrancis commented on #5
Added information and links about core development technologies. This is good enough for now, we can add more in the future as needed.

[2015-01-30 22:52] #5 closed

[2015-02-03 15:09] Phrancis opened #25 "Replace backslashes in th:replace in each HTML file"
Backslashes in source HTML files that link using `th:replace` do not work correctly in an OS X environment. These need replaced by forward slashes to be compatible. We already tested it also works in non-OS X environments with forward slashes.

[2015-02-03 22:26] Phrancis commented on #25
There are also other issues because of the very strict HTML5 syntax imposed by Thymeleaf. Since `index.html` is working perfectly, the easiest way to make other pages work as good will be to copy `index.html` code into other files, and add in the specific file content in the body of the other files.

[2015-02-04 14:29] marcandregirard opened #26 "Replace the th notation with data-th"
The old namespaced  th:* is not quite elegant with HTML 5 and templating. It mention warnings in almost every html files. We should replace all those occurrence with the data-{prefix}-{name} syntax. Here is the small intro to this feature that come with Thymeleaf 2.1 http://www.thymeleaf.org/whatsnew21.html#data .

[2015-02-04 17:36] #25 closed

[2015-02-04 17:36] #26 closed

[2015-02-04 17:45] Phrancis opened #27 "Get rid of `target="_blank"`"
This is unneeded and is found in several pages and menus.

[2015-02-04 18:26] Phrancis commented on #27
Cleaned up all `target="_blank` from HTML content files as well as Thymeleaf templates.

[2015-02-04 18:26] #27 closed

[2015-02-04 18:31] Phrancis opened #28 "How should we make contact forms?"
I plan on making a few contact forms (namely, Contact Us, Report Bug, Request Feature) most models I've seen call for PHP it appears. What would be a good, non-PHP way to make a simple web contact form?

[2015-02-04 19:11] Phrancis commented on #28
Let's use Github for Report Bug and Request Feature. I will update the menus accordingly.

[2015-02-04 19:27] Phrancis commented on #28
Update `templates/side_naviguation.html` with Github links and a mailto link for contact us.

TODO: setup an email address

[2015-02-04 22:19] Phrancis opened #30 "Consolidate story for Cyborg Chronicles"
I am creating a file called `cyborg-chronicles-story.md` to temporarily hold the story ideas proposed by contributors. This will later be integrated into `cyborg-chronicles.html` to be displayed on the website. Please post suggestions for changes, additions, etc. here.

[2015-02-04 22:31] Phrancis commented on #30
File has been created: https://github.com/Cardshifter/cardshifter.github.io/blob/web-content/cyborg-chronicles-story.md

[2015-02-06 04:47] Phrancis commented on #9
All done and working, and merged to `master`.

[2015-02-06 04:47] #9 closed

[2015-02-06 17:25] Phrancis commented on #30
There are a few mentions of a war which happened prior to (or during) some of the events, but there is not very much detail... I think it would need fleshed out... Was it with aliens, or between humans? If aliens, was it the Celescion or Tyrakk or other? @bazola and GreyFox any input/ideas would be great.

[2015-02-06 18:08] #7 closed

[2015-02-06 18:08] #10 closed

[2015-02-06 18:10] Phrancis opened #31 "Create cyborg-chronicles.html page"
This page should give some information about the Cyborg Chronicles mod, including basic story, information about the different factions/groups, and possibly images and things like that.

Related: [Issue #30](https://github.com/Cardshifter/cardshifter.github.io/issues/30)

[2015-02-06 18:20] Phrancis commented on #13
I'd like input from @Zomis @bazola @skiwi2 on this. Since we have not really ironed out the things that would be needed, should someone want to create a new mod, I thought of (for right now) just making a sort of form that can be downloaded (Word document or whatever) asking for contact information and basic information about theme, features, rules etc. the modder would like. And that could just b

[2015-02-06 20:17] Phrancis commented on #12
Example article posted on news.html - Now just need to add classes for the various elements used in <article> sections.

[2015-02-06 21:24] Phrancis commented on #12
CSS is updated too.

[2015-02-06 21:24] #12 closed

[2015-02-07 21:59] Phrancis commented on #30
**Factions**

There are 6 factions we have came up with previously. @Jay1148, @GreyFox and I have been talking and have come up with some ideas for each of them.

**Planet Corp.**

A massive corporation that focuses on defense and military technology. Their wealthy leaders hide behind armies of Mechs, and have created a worldwide virtual communication network, called "The Plane", to which all thei

[2015-02-07 22:20] GreYFoX commented on #30
@Phrancis We have never talked before

[2015-02-07 23:15] Phrancis commented on #30
@GreYFoX I am deeply sorry, I misspelled a friends' Github name, I did not mean to tag you. My apologies. Please disregard this post completely.

[2015-02-09 23:26] Zomis opened #32 "Use Cardshifter code to view cards"
As the website is now using Tomcat 8, the actual Cardshifter code can be used to find out card info, and then this could be used to view tables of card information, draw cards and images.

Note that this data would not at the moment be read from a database, just read from a Cardshifter mod.

[2015-02-10 00:01] Zomis commented on #18
The source of the data should absolutely be the same as the game uses itself, to reduce duplication. I.e. do not load from an Excel file, use the actual Java information for this.

When it comes to how to display it, one thing does not have to exclude another one. Displaying as actual cards is advantageous in case someone would like to print IRL copies of the cards (I have got that feature-request

[2015-02-10 00:17] Phrancis commented on #32
That sounds like a good solution, anything I can do to help I'll be happy to. I'm guessing this probably won't be too much of an issue once we start adding images to cards?

[2015-02-10 00:20] Zomis commented on #32
This is essentially a duplicate of #18. Let's stick to that issue.

[2015-02-10 00:20] #32 closed

[2015-02-10 00:21] Zomis commented on #18
It would be advantageous if @Phrancis (or someone) could make a HTML + CSS template for how a card should look when being viewed on the web. Use placeholder text + images to do so at first, and then it is easy to fill it with real data later.

[2015-02-10 04:22] Phrancis commented on #22
Done and pushed to web-content and master without a hitch.

[2015-02-10 04:22] #22 closed

[2015-02-10 16:00] marcandregirard opened #33 "Add tests to the project"
We should have tests in the project to make sure we don't break things. By example, we should have tests to make sure all page renders correctly.

We could even have some integration tests if needed be. But the first draft should contain at least the tests to make sure all pages render.

[2015-02-11 00:06] Phrancis opened #34 "Webapp support for sub-sites"
I would like to have separate sub-sites for some of the larger/more self-contained portions of the site. An example would be for Cyborg Chronicles mod, where when you click that link instead of taking you to `/WEBINF/cyborg-chronicles.html` it will link to a (functionally identical) sub-site, e.g., `/WEBINF/cyborg-chronicles/index.html` which would have its own CSS, templates, etc.

I can take car

[2015-02-11 00:11] Phrancis commented on #34
Note: This will also be useful to have a sub-site specifically for people who would like to create their own mods, with detailed instructions and sections on which steps to take without cluttering the main site with all this information that will not be relevant to the average player.

[2015-02-11 00:20] Zomis commented on #34
Not sure what you mean here entirely, but this could perhaps be done with a path variable, so that the Spring mapping is `/{modName}/info`, `/{modName}/cards`, etc. so that both `cardshifter.com/cyborg-chronicles/cards` and `cardshifter.com/some-other-mod/cards` could work.

Either way, thanks to the nice Model-View-Controller system of Spring, having the content in `/WEBINF/cyborg-chronicles/***.

[2015-02-11 00:35] Phrancis commented on #34
I guess my main concern is for each "sub-site" or "sub-folder" or "sub-whatchamaycallit" to be able to have their own CSS, templates, etc. so the individual sub-sites are tailored to their particular content.

[2015-02-11 16:17] Phrancis opened #35 "Get Cardshifter logo for website and Github"
Website needs two files `cardshifter-logo.png` and `Cardshifter-logo.ico` in the following directory:

`cardshifter.github.io / io.web / src / main / webapp / WEB-INF / images /`

The PNG file can also be used for the repository logo, as well as in other places such as on the site or in-game where a logo may be needed.

[2015-02-11 16:29] marcandregirard commented on #34
If the structure of every sub-sites follow the same logic, a path variable would be a nice and elegant solution. If some sub-sites need some particular attentions, we just need to create a specific controller that would take care of the sub-site. Loading their own CSS, templates etc is not a problem at all. Either you specify a different template directly in the html (data-th-replace="sub-site ::

[2015-02-11 16:44] Phrancis opened #36 "Create Facebook page for Cardshifter"
Need to create a page (analogous to the Twitter account) and then edit the following item in `templates/header.html` :

`<meta property="fb:admins" content="USER_ID" />  `

[2015-02-11 17:47] Phrancis commented on #16
Completed on `web-content` branch and ready to merge into master.

[2015-02-11 17:47] #16 closed

[2015-02-11 18:07] Phrancis commented on #35
Made a temporary logo using MS Paint, until I can get a higher resolution version from Jay.

![cardshifter-logo](https://cloud.githubusercontent.com/assets/8539648/6152946/ed4e74a0-b1ee-11e4-8d4d-db306ba7b565.png)

[2015-02-11 18:19] Phrancis commented on #34
@marcandregirard Can you clarify what you mean by: " If some sub-sites need some particular attentions" what would you consider a particular attention?

[2015-02-11 18:23] marcandregirard commented on #34
I meant a mapping that would not be generic to all sub-site. Example : if a mods has a story with strong characters and need a mapping /sub-site/heros that other sub-site does not have, then we will need to create something specific fro that sub-site (or that specific mapping/action).

[2015-02-11 18:27] Phrancis commented on #34
I see. Well, the idea would be that, for example, `side_naviguation.html` would be completely different between sub-sites and the main site. Example, the `/WEBINF/cyborg-chronicles/templates/side_naviguation.html` would contain things like Home, Story, Factions, Cards, Game Rules, etc. so it may actually be a case of "particular attentions" do you think?

[2015-02-11 19:09] marcandregirard commented on #34
No since we could do `/WEBINF/templates/cyborg-chronicles` and use a variable to determine what the path is based on the name of the sub-site (it would work with `/WEBINF/cyborg-chronicles/templates/side_naviguation.html` too). What I'm referring to is when you define `@RequestMapping(value = "/play-cardshifter",method = RequestMethod.GET)` in your controller. Since we would have only one controll

[2015-02-11 19:53] Phrancis commented on #34
So could we just add more mappings to the current controller, that would map to HTML etc. files in a sub-site's folder? Is that what the variable approach involves?

[2015-02-11 19:58] marcandregirard commented on #34
No, I would define it in a new controller and use the variable approach to do this! I will try to create a branch with an example of what it would look like! It will be easier to discuss it, since I think most of the explanation I gave is technical stuff (since you haven't done it before).

[2015-02-11 21:21] Phrancis commented on #30
Above referenced factions have been updated into the `cyborg-chronicles-story.md` file.
TODO: Rewrite/update setting in light of the new faction information.

[2015-02-11 23:06] Phrancis opened #37 "Tie cardshifter.com URL to stats.zomis.net/io-web"
Now that we have a stable and working Webapp and a decent amount of web content, I think it is time to put the `master` branch online. I'm not sure what all that entails, @Zomis @marcandregirard how do we go about doing that?

[2015-02-11 23:59] Zomis commented on #37
As I am in control of the www.cardshifter.com domain (thanks to you), it is up to me to fix that. We do not have the possibility to link anyone to cardshifter.github.io though.

[2015-02-12 22:00] Phrancis opened #38 "Update graphics on screenshots.html"
Current screenshots are from release 0.4, now that 0.5 is out we need updated screenshots.

[2015-02-13 04:19] Phrancis commented on #36
Done. Facebook ID is 1409176289383456 and has been added to header template.

[2015-02-13 04:19] #36 closed

[2015-02-13 06:20] #38 closed

[2015-02-13 18:16] Phrancis commented on #18
@marcandregirard As discussed in chat, here is a screenshot of the card models I made in PowerPoint. The dimensions and size rations are as follows:

Card size: 3.5” x 2.5” (1.4:1)
Image size: 1.4” x 2.25” (1:1.6)
Text box size: 1.3” x 2.25” (1:1.75)

I also attached individual images of the small logos used on the cards, if you would like to use them.

![card-models-issue- 18](https://cloud.githu

[2015-02-13 19:55] Phrancis commented on #28
@Zomis I'm having a hard time with my hosting provider, would it be a big hassle to create an email like `contact@cardshifter.com` that I can add to my mail and monitor?

[2015-02-15 21:36] Phrancis opened #39 "Styles for Cyborg Chronicles sub-site"
Need to change the CSS file for Cyborg-Chronicles, along with CSS references in the source HTML files to fit the cyberpunk/futuristic theme of the mod.

[2015-02-15 21:39] Phrancis opened #40 "Side nav bar for Cyborg Chronicles"
Need to:

- [ ] add a link to the sub-site on the main Cardshifter nav
- [ ] modify the left nav bar for the Cyborg Chronicles sub-site to be relevant to mod content
- [ ] create related HTML files for each section.

[2015-02-15 21:41] Phrancis opened #41 "Find smarter way to format side_navigation.html"
Right now the nav template is using `<h4>` and `<h5>` tags for sections. Probably would be better to use `<div>`s or `<ul>`.

[2015-02-16 02:14] Phrancis commented on #40
Just need to add the links to the Java controller and this should be all good to go.

[2015-02-16 02:54] #40 closed

[2015-02-16 04:25] #39 closed

[2015-02-16 04:41] Phrancis commented on #34
This works awesome, thanks @marcandregirard :D

[2015-02-16 04:41] #34 closed

[2015-02-16 20:40] #41 closed

[2015-02-17 00:53] Phrancis opened #42 "Factions: write more detailed backgrounds"
This will be broken down into a few tasks:

- [x] Condense `factions.html` a bit, since the reader can click each faction name to get more details
- [x] Write `faction-planet-corp.html`
- [x] Write `faction-blackout.html`
- [x] Write `faction-esu.html`
- [x] Write `faction-tyrakk.html`
- [x] Write `faction-celescion.html`
- [x] Write `faction-bioshell.html`
- [x] Test all links and make sure every

[2015-02-17 01:02] Phrancis opened #43 "Storyline: write and organize"
Right now the early story version is drafted only in `cyborg-chronicles-story.md`. It needs to be rewritten to fit the Factions context better, and broken down into a few episodes.

- [x] Write `story.html`: Brief intro with links to the other episodes
- [x] Write `story-prelude.html`: More detailed intro explaining the time period and the setting
- [x] Write `story-invasion.html`: Detail the conf

[2015-02-17 01:14] Phrancis commented on #31
In hindsight, considering the left nav menu layout, this page should contain very high-level information about the mod, mostly general information about it (origin, credits, etc.) as the story and factions have their own sections.

[2015-02-17 01:15] Phrancis commented on #30
Story itself will be addressed in more detail in Issue #43 and #42 so this can be closed now.

[2015-02-17 01:15] #30 closed

[2015-02-17 01:17] Phrancis commented on #13
Related: #34 (sub-site support) as this will be its own sub-site, analogous to the mods sites.

[2015-02-19 00:23] Phrancis commented on #28
Created email on my host server, for now: `cardshifter@psychoproductions.net`

[2015-02-19 00:23] #28 closed

[2015-02-19 00:37] Phrancis commented on #13
Added mailto information directing to cardshifter@psychoproductions.net . As @Duga would say, this should be good enough for now.

[2015-02-19 00:37] #13 closed

[2015-02-19 21:10] #31 closed

[2015-02-20 16:36] Phrancis commented on #33
I'm not sure what you have in mind, but I think a test to check all internal links are properly referenced to the controller on each of the pages would be useful. Currently I find myself testing each new link manually to make sure I don't have errors.

[2015-02-20 16:40] marcandregirard commented on #33
I'm not sure how we would test link, but it's definitely those kinds of things I want to test. I guess for testing links, we could use Selenium or some automated component to test this.

[2015-02-21 23:34] jay1148 opened #44 "test"
test

[2015-02-21 23:34] #44 closed

[2015-02-24 02:36] #43 closed

[2015-03-02 23:21] Zomis commented on #18
Just a random thought about this issue, theoretically, GWT could be used and a certain [TableLayout](https://github.com/EsotericSoftware/tablelayout) that is also used within LibGDX. At the moment I have no exact details about this but it could be worth looking into, to make it the LibGDX better match the web version.

Just a thought.

[2015-03-12 21:25] Phrancis opened #46 "Add game rules to the site"
Right now the game rules are in the main repo's wiki. They need to be on the Cyborg Chronicles portion on the site (since different mods will undoubtedly have different rules).

- [x] Add a mapping to the controller
- [x] Create HTML file with the rules
- [x] Update the menu link
- [x] Delete the page from the wiki

[2015-04-02 19:31] Phrancis commented on #46
TODO: Talk to @marcandregirard about the test for game rules. [Link](https://github.com/Cardshifter/cardshifter.github.io/blob/game-rules/io.web/src/test/java/com/cardshifter/io/web/controller/CyborgChroniclesControllerTest.java)

[2015-04-02 20:28] Phrancis commented on #46
File `game-rules.html` created and content added.

[2015-04-02 20:41] Phrancis commented on #46
All done.

[2015-04-02 20:41] #46 closed

[2015-04-02 20:48] Phrancis commented on #33
Was the game rules test the last one that you were planning to fix?

[2015-04-07 17:40] marcandregirard commented on #33
It was the last one I had planned to fix, but not the last one to implement. I would like to tests, that the page is well formed, like specific HTML elements are present. Exemple: verify that the navigation menu on the left point to all the right URL like something that would look like : asserThat(element <a>).linkTo("/cards") (you get the idea). It would be a step higher than just test if the pag

[2015-04-10 19:24] Phrancis commented on #37
@Zomis what can I do to help with this?

[2015-05-11 16:09] bazola opened #50 "Typo on new-mod page"
It says join is in the cradshfiter chat room on this page: http://stats.zomis.net/io-web/new-mod

[2015-05-11 17:21] marcandregirard commented on #50
It took me a good minute to find the typo! Thanks I'll correct it tonight!

[2015-05-11 17:31] marcandregirard commented on #35
Is this done ?

[2015-05-11 17:32] marcandregirard commented on #33
We now have some unit tests. There are no integration tests but at the moment I don't plan to add that.

[2015-05-11 17:32] #33 closed

[2015-05-11 17:32] marcandregirard commented on #42
I'm not sure if this is done or not? Could you confirm @Phrancis ?

[2015-05-11 21:20] Phrancis commented on #42
@marcandregirard Yes it's done, forgot to close it.

[2015-05-11 21:20] #42 closed

[2015-05-11 21:25] Phrancis commented on #35
Not yet, I'll ask Jay about it again tonight, thanks for the reminder

[2015-05-11 21:39] marcandregirard commented on #50
Will be fixed on the next update of the site

[2015-05-11 21:39] #50 closed

[2015-05-23 18:39] Phrancis opened #51 "Side menu does not display properly on mobile"
I pulled the site on my iPhone and the side navigation menu is displayed _on top_ of the page content. I'm not sure how to fix it exactly, I suspect it could even be caused by Bootstrap in order to make the page less wide.

A possible fix might be to extend the left nav menu bar all the way to the bottom of the page (albeit with empty space). See attached screenshot.

I would be curious if this pr

[2015-05-23 18:45] skiwi2 commented on #51
The same issue appears to occur on Android:

![screenshot_2015-05-23-20-43-50](https://cloud.githubusercontent.com/assets/2961606/7785357/a4c15c82-018c-11e5-8142-d5dc878eaa05.png)

[2015-05-23 18:46] Phrancis commented on #51
For reference, this is what it _should_ look like:
![screen shot 2015-05-23 at 2 45 33 pm](https://cloud.githubusercontent.com/assets/8539648/7785361/6f0265fa-015a-11e5-92e1-e9a690fda898.png)

[2015-05-23 18:59] Phrancis commented on #51
Bug also happens on Windows phone:

![zqobg49](https://cloud.githubusercontent.com/assets/8539648/7785400/4a8867ae-015c-11e5-85cb-8efe8c7cbb8a.png)

[2015-05-23 19:21] Phrancis commented on #51
Looks like this is not a bug and actually functions as it should according to Bootstrap grid system. For reference: http://tutorial.shiksha360.com/bootstrap-layout-grid-system/

Perhaps at some point we should actually convert this to a top menu with drop-downs instead of a side nav... thoughts?

[2015-05-23 19:21] marcandregirard commented on #51
The thing here is I don't think the side menu would fit with the content. There is not enough place to show them both side by side. I think it may look like a bug, but the result is what is better for mobile. What we could have is some links on mobile to get to the top of the page (the side menu) quickly to help the user navigate.

[2015-05-24 17:48] #51 closed

[2015-06-01 18:56] Phrancis commented on #18
@Zomis would it be possible to use Groovy to translate the DSL for cards and wrap it in HTML elements to be displayed on the web? (like you did for the game itself, including translating card effects into "plain English") Speaking here strictly from a data standpoint, I think it would be advantageous if that could be queried and sent to a web page

[2015-06-01 23:34] Zomis commented on #18
@Phrancis It is possible to include the game engine in the website and use data directly from that, yes. However, I think the best option at the moment is to use a JSON file with data that has been exported from the game. Here is the JSON data from the Cyborg Chronicles mod: http://www.cardshifter.com/game-1.json

[2015-06-07 17:34] Phrancis opened #52 "Make sub-site for Mythos mod"
Mythos has different rules, cards and everything. It definitely needs its own site at some point.

For reference from main repo:

- [New mod: "Mythos"](https://github.com/Cardshifter/Cardshifter/issues/223)

- ["Mythos" decks](https://github.com/Cardshifter/Cardshifter/issues/231)

- [Game content files](https://github.com/Cardshifter/Cardshifter/tree/mods/extra-resources/mods/Mythos)

[2015-06-07 18:04] Phrancis opened #53 ""change" & "set" on spells"
At the current time, it is not possible AFAIK to use `change` or  `set` as part of a spell. The problem appears to be related to `targets`. I tried both of the following syntaxes, both are throwing a server-side error of this type:

    groovy.lang.MissingMethodException: No signature of method: mythos.common.afterPlay() is applicable for argument types: (mythos.common$_run_closure12$_closure25) v

[2015-06-07 18:06] Phrancis commented on #53
Posted on wrong repo, see this instead: https://github.com/Cardshifter/Cardshifter/blob/mods/Documentation/2-%20Card%20Library%20-%20Effects.md

[2015-06-07 18:06] #53 closed

[2015-06-17 23:22] Phrancis opened #54 "Update website"
The screenshots as well as some of the other information is grossly out-of-date.

[2015-06-17 23:28] Phrancis commented on #54
Related: https://github.com/Cardshifter/Cardshifter/issues/251

[2015-08-16 04:39] Phrancis opened #55 "One Year Anniversary!"
It's hard to believe we've been working on Cardshifter for a bit over a year! I would like to ask everyone about their experience(s) so far, so we can make a sort of "mural" of each other's most meaningful moments!

I did a bit of digging, and found that [this room was created by @Zomis on Aug 1, 2014](http://chat.stackexchange.com/transcript/message/16899075#16899075):

    It's time to create a

[2015-08-16 14:47] Phrancis opened #56 "Improve the look of Contributors page"
The layout of this page is not very good. I originally did the layout as a grid of sorts, but it doesn't scale very well at all, and perhaps just having a more inline, "top-to-bottom" view of the page would look better in general.

![2015-08-16 10_45_58-cardshifter](https://cloud.githubusercontent.com/assets/8539648/9293737/3c5e93a2-4404-11e5-90b2-934a1237ced7.png)

[2015-08-17 13:37] marcandregirard commented on #56
I did the grid layout! But the top-to-bottom approach is nice! Maybe we could add some nice effects too!

[2015-08-17 14:33] Phrancis commented on #56
@marcandregirard  Ah I did not remember if you did or I did. Any way, what kind of "nice effects" do you have in mind?

[2015-08-17 14:37] SirPython commented on #56
Perhaps, instead of having all the information displayed for each contributor at once, the contributor's SE profile pictures (or names, etc.) could be displayed in a list-like form. Then, upon hovering over the SE profile (or other identification), a box would expand showing more complete information.

[2015-08-17 14:38] marcandregirard commented on #56
That would be one idea @SirPython ! And I had nothing specific at the moment. I need to look over the web if I can see something that could fit a contributor page!

[2015-08-17 14:55] Phrancis commented on #56
I personally would like to have a short "About" paragraph written by the contributor himself or herself as well, to give it a bit more of a personal touch.

[2015-08-24 00:22] Phrancis commented on #55
Everybody is so busy coding! (good thing)

I thought I would share when this project became the "real deal" for me, and not just a project that starts and dies down after a while. I don't know the exact time, but must have been right around [that time](http://chat.stackexchange.com/transcript/message/17995465#17995465). I then got to actually play the game, and, Lo and Behold, it was **fun** wow w

[2015-08-24 00:44] Zomis commented on #55
I remember when the game *really* became moddable.

I think it was just a couple of weeks between everything being Java (remember [PhrancisGame.java](http://chat.stackexchange.com/search?q=PhrancisGame.java&Room=16134&page=1&pagesize=50&sort=newest)?), to the [Groovy DSL started to work out](http://chat.stackexchange.com/transcript/message/21750592#21750592). (https://github.com/Cardshifter/Cardsh

[2015-08-29 00:50] Phrancis commented on #55
@bazola @skiwi2 @marcandregirard @SirPython @jacwah
I'd like to hear something from you guys too, if possible! Doesn't have to be a lot, a one-liner is fine :smiley_cat:

[2015-08-30 18:51] jacwah commented on #55
I want to thank everyone involved in this project. I started contributing just a few weeks ago, and I already feel like a part of the group. You've all been welcoming and friendly :heart:

It's great to see how much a few people can achieve together in their spare time, and even better to know that you've done a bit of it yourself!

[2015-09-12 21:42] Zomis opened #57 "Setup e-mail"
Try to send an e-mail to `webmaster@cardshifter.com`, `info@cardshifter.com`, etc. and make sure that someone can handle such e-mails, somehow, somewhere.

[2015-09-12 21:50] Phrancis commented on #57
Good thinking. Right now I have communications going to cardshifter@psychoproductions.net temporarily. How do we go about creating `@cardshifter.com` emails? Once they are created it should be simple enough from there.

[2015-09-12 22:06] Zomis commented on #57
Honestly, not entirely sure :) I think I need to do something there, as cardshifter.com leads to my webserver.

[2015-11-13 16:30] Phrancis opened #58 "Make landing page for link from CR community ads (and in general)"
It looks like we are going to be part of the CR community ads based on votes we are currently 2nd only behind the good people @ Rubberduck. We should have a nice landing page that carries over the message from the ad in more detail, along with links to various things for interested parties to "get started".

[Link to community ad](http://meta.codereview.stackexchange.com/a/6103/42632)

[2015-11-19 15:02] Phrancis commented on #35
To update this, I actually have the original design files now, I just need to upload them into our Graphics repository, which I will do soon.

[2015-11-19 15:06] Phrancis commented on #52
Let's put this one on hold for the moment, if we're going to redesign the site anyways there's not much point in spending time on this until we have decided how the site will be redesigned.

[2015-11-19 15:08] Phrancis commented on #54
This needs to be updated again with screenshots from the web client, right now it is still displaying the JavaFX client which is no longer being developed.

[2015-11-19 15:09] marcandregirard commented on #18
Did the web client worked on this part ? Maybe we could share some code to not duplicate things ?

[2015-11-19 15:13] Phrancis commented on #18
Yes I agree that we should share code, the web client does a good job of displaying cards as cards on the game scene, we could definitely re-use the code for other sections (for example the deck builder, or simple page to display the cards for each mod). AngularJS/CSS templates for cards and such are located in the HTML-Client repository. For example: https://github.com/Cardshifter/HTML-Client/tre

[2016-01-15 17:24] Phrancis commented on #58
Here are some smaller steps in order to achieve this larger one:

- [ ] Rename the current `index.html`
- [ ] Update links in the menus and test
- [ ] Import resources for the new landing page (reference App Plus theme from ThemeWagon which @Phrancis and @marcandregirard have a copy of)
- [ ] Re-map `index.html` to the new landing page
- [ ] Add content and images to the new landing page

[2016-01-16 13:56] Zomis commented on #37
Fixed with http://stackoverflow.com/questions/10704833/tomcat-and-multiple-domains-applications/13869027#13869027 and http://docs.getmura.com/v6/installation-setup/how-to-add-a-host-alias-to-tomcat/

[2016-01-16 13:56] #37 closed

[2016-01-21 14:03] Zomis opened #60 "404 page"
I just tried going to http://www.cardshifter.com/play and the error message looks horrible. Make a real 404 page, maybe with a random Cardshifter card or something interesting.

For example:

"Sorry, we could not find the page you were looking for but we found this interesting Cardshifter card for you instead:"

[2016-01-21 14:09] Phrancis commented on #60
Related article: [Tomcat Custom 404 Page](http://davidghedini.blogspot.com/2010/10/tomcat-custom-404-page.html)

[2016-01-21 14:11] marcandregirard commented on #60
I will fix this for a standard 404 page, but this link should not be a page anymore in the application anyway.

[2016-01-21 23:03] SirPython commented on #60
I like @Zomis 's idea of having a card displayed. Maybe we could do something slightly comical with the card (like a joke card).
For example, in the 404 page, there could be a message that says "Are you lost?", then a card called "Signpost" that is a post with a bunch of direction-pointing signs hanging on it as the image.

[2016-01-24 00:12] marcandregirard commented on #60
For the moment the site has no content to show card on a error page. Also the cards that can get displayed must be static and the rendering of the page cannot failed. For the moment I will implement a standard 404 page and another page that will fill the role of any other problem. I'll keep this issue open for the cool card approach that I really like!

[2016-01-24 01:31] marcandregirard opened #61 "Sidebar width depends on size of content"
I don't know why but the side bar will be small if there is not enough content in the content area. We need to fix this since some pages may have less text and images like the error pages.

[2016-03-24 15:12] marcandregirard commented on #58
I think this may be done since you merged landing-page in master :+1:

[2016-03-24 15:13] marcandregirard commented on #54
Since the landing-page is now done, maybe we should work on this ? Is the client being worked on at the moment ?

[2016-03-24 15:13] marcandregirard commented on #35
Is this done with the new landing page ? I think we now have a favicon and logos right ?

[2016-03-24 15:22] Phrancis commented on #35
Yeah we have all the logos now! I also have the original Illustrator version(s) if changes are needed in the future.

[2016-03-24 15:22] #35 closed

[2017-04-05 19:09] Phrancis opened #64 "Snapshots page not found"
This link is posted on the Github Wiki for the main game repo: http://www.cardshifter.com/releases

The link itself says "Snapshots", the actual releases are hosted [here on Github](https://github.com/Cardshifter/Cardshifter/releases).

However, the linked "Snapshots" page is not found on the site. We need to either make that page and deploy it, or fix the link in the Wiki to point to the correct

[2017-04-05 19:14] Zomis commented on #64
When I release snapshots they are uploaded to http://www.zomis.net/cardshifter.com/releases/

[2017-04-05 19:16] Phrancis commented on #64
Sounds like it would be simple to just fix the link to point there, I don't find any particularly compelling reason to duplicate the information from the FTP right now to the site. Any objections?

[2017-04-05 19:30] Phrancis commented on #64
Link has been fixed on the Wiki - Ref: http://chat.stackexchange.com/transcript/message/36522962#36522962

[2017-04-05 19:30] #64 closed, assigned to Phrancis

[2018-05-08 23:40] Phrancis opened #65 "Should we move the HTML Client to this repository?"
There has been recent work on HTML Client's [vanilla-js-rewrite](https://github.com/Cardshifter/HTML-Client/tree/vanilla-js-rewrite) branch which will result in having the whole client being served statically. Assuming we move the current content of this site to a backup branch, and work on incorporating it into the HTML Client at some point, I would see 2 possible ways we could handle this:

1. M

[2018-05-08 23:41] FreezePhoenix commented on #65
... scanning ...

[2018-05-08 23:46] Phrancis commented on #65
This link may have some useful information: https://gist.github.com/cobyism/4730490

[2018-05-08 23:46] FreezePhoenix commented on #65
@Phrancis  that does have nice information, but Github won't let you upload folders.

[2018-05-08 23:52] Hosch250 commented on #65
Option 1 is easily your best bet. I know how to do it too.

[2018-05-08 23:53] FreezePhoenix commented on #65
Hold on a sec... why don't we just deploy the server live without client?

I know how to do that even faster.

[2018-05-09 00:54] marcandregirard commented on #65
I'm sure I can find a way that when building this site, we "build" the HTML-Client repo and serves it as a static resources from this site. I just need a little bit of time to test things out, but I'll get back to you with a proof of concept for solution 2. I would leave both sites separate if possible but that's just my opinion.

[2018-05-09 18:23] Zomis commented on #65
Conserving git history is not a problem at all. I'm just wondering how the *.github.io site is *built* so to say.

[2018-05-09 18:29] marcandregirard commented on #65
It's a simple Spring web application, so a simple war with a war plugin in the pom.xml. What I want to try was to move to Spring boot and have a step in packaging phase to grab the mater of the html client and include it in the war and serve the JS/html in the static controller.

[2018-05-10 18:28] FreezePhoenix commented on #65
@Zomis  take a look... https://github.com/FreezePhoenix/FreezePhoenix.github.io vs http://freezephoenix.github.io

Should help clear up how a *.github.io site is built.

[2019-03-09 13:45] marcandregirard opened #66 "Rewrite this in Vue.js"
Since we're on a Vue.js vibe and we like to reerite things all the time I think this repo would be a good target for a rewrite. Since it's almost a static site, it could easily be a first good project for someone wanting to learn Vue. We could host a dev instance of the current site to have a baseline of the look and behavior.

[2019-03-10 11:34] Zomis commented on #66
I don't think GitHub supports Vue-sites out of the box, unless we do it the "old-fashioned" Vue way and don't use `.vue` files. A solution however is to do it the way I'm doing it for my github.io site: Use a combination of https://github.com/Zomis/zomis.github.io-source + https://github.com/Zomis/zomis.github.io

[2019-03-10 12:42] marcandregirard commented on #66
GitHub never supported the previous site either. It was redirecting to one of your tomcat on which the site was hosted. We could do a static site directly hosted with Github, or since it's not even online anymore we use this to lure brugeslco or IvenBach to Vue.js andnthe ecosystem of Cardshifter. There is a procjet https://github.com/vuejs/vuepress which could be look at too.

[2019-03-10 12:46] Zomis commented on #66
Umm, don't think we should use that one just yet :)